<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <%- include ('../partials/nav.ejs') %>
    <main>
      <%- include (`../pages/${template}`) %> <%- include
      ('../partials/footer.ejs') %>
    </main>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/counterup.min.js"></script>
    <script src="assets/js/jquery.fancybox.min.js"></script>
    <script src="assets/js/perfect-scrollbar.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/particles.min.js"></script>
    <script src="assets/js/particle-int.js"></script>
    <script src="assets/js/custom-scripts.js"></script>
  </body>
</html>
