<section>
  <div class="w-100 pt-170 pb-150 dark-layer3 opc7 position-relative">
    <div
      class="fixed-bg"
      style="background-image: url(assets/images/pagetop-bg.jpg)"
    ></div>
    <div class="container">
      <div class="page-top-wrap w-100">
        <h1 class="mb-0"><%- description %></h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/" title="">Home</a></li>
          <li class="breadcrumb-item active"><%- title %></li>
        </ol>
      </div>
      <!-- Page Top Wrap -->
    </div>
  </div>
</section>
