<!-- ==================== Header section ========================== -->
<%- include ('../partials/header.ejs') %>

<section>
  <div class="w-100 pt-100 pb-100 position-relative">
    <div class="container">
      <div class="about-wrap w-100">
        <div class="row justify-content-center">
          <div class="col-md-12 col-sm-12 col-lg-10">
            <div class="about-content-wrap w-100">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-4">
                  <div class="sec-title title-with-shape w-100">
                    <div class="sec-title-inner d-inline-block">
                      <span class="thm-clr d-block"
                        >WELCOME TO ELEMETO IDEAS</span
                      >
                      <h3 class="mb-0">
                        About Us <br />
                        Our Company.
                      </h3>
                    </div>
                  </div>
                  <!-- Sec Title -->
                </div>
                <div class="col-md-12 col-sm-12 col-lg-8">
                  <div class="about-desc w-100">
                    <h2 class="mb-0">
                      We craft beautifully useful marketing and digital products
                      that grow
                      <strong class="thm-clr d-block"
                        >- Our EleMeto Ideas.</strong
                      >
                    </h2>
                    <p class="mb-0">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim admini veniam, quis nostru.
                    </p>
                  </div>
                  <div class="serv-wrap w-100">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-lg-6">
                        <div class="serv-box w-100">
                          <i class="thm-clr flaticon-car-parts"></i>
                          <div class="serv-box-inner">
                            <h3 class="mb-0">
                              <a href="#" title="">24/7 Support</a>
                            </h3>
                            <p class="mb-0">
                              Eiusmod tempor incididunt ut labore et dolore
                              magna.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-lg-6">
                        <div class="serv-box w-100">
                          <i class="thm-clr flaticon-helmet"></i>
                          <div class="serv-box-inner">
                            <h3 class="mb-0">
                              <a href="#" title=""
                                >Experience <br />
                                Team</a
                              >
                            </h3>
                            <p class="mb-0">
                              Eiusmod tempor incididunt ut labore et dolore
                              magna.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Services Wrap -->
                </div>
              </div>
            </div>
            <div class="about-image position-relative w-100">
              <span>18<sup>+</sup><i class="d-block">Experience</i></span>
              <img
                class="img-fluid w-100"
                src="assets/images/resources/about-image1.jpg"
                alt="About Image 1"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- About Wrap -->
    </div>
  </div>
</section>

<section>
  <div
    class="w-100 dark-layer2 pt-100 pb-100 opc1 overflow-hidden position-relative"
  >
    <div
      class="fixed-bg zoom-anim back-blend-screen h-tst patern-bg dark-bg"
      style="background-image: url(assets/images/pattern-bg2.jpg)"
    ></div>
    <div class="particles-js" id="prtcl"></div>
    <div class="container">
      <div class="testi-wrap position-relative w-100">
        <h2 class="mb-0">WHAT CLIENTS SAYS?</h2>
        <div class="testi-caro">
          <div class="testi-box-wrap">
            <div class="testi-box">
              <div class="testi-img">
                <img
                  class="img-fluid"
                  src="assets/images/resources/testi-img1-1.png"
                  alt="Testimonial Image 1"
                />
              </div>
              <div class="testi-info">
                <h3 class="mb-0">“Jonspond Mendela”</h3>
                <p class="mb-0">
                  Donec scelerisque dolor id nunc dictum, nterdum mauris
                  rhoncus. Aliquam at ultrices nunc. In sem fermentum at lorem
                  in, porta mauris.
                </p>
              </div>
            </div>
          </div>
          <div class="testi-box-wrap">
            <div class="testi-box">
              <div class="testi-img">
                <img
                  class="img-fluid"
                  src="assets/images/resources/testi-img1-2.png"
                  alt="Testimonial Image 2"
                />
              </div>
              <div class="testi-info">
                <h3 class="mb-0">“Baris Jonson”</h3>
                <p class="mb-0">
                  Donec scelerisque dolor id nunc dictum, nterdum mauris
                  rhoncus. Aliquam at ultrices nunc. In sem fermentum at lorem
                  in, porta mauris.
                </p>
              </div>
            </div>
          </div>
          <div class="testi-box-wrap">
            <div class="testi-box">
              <div class="testi-img">
                <img
                  class="img-fluid"
                  src="assets/images/resources/testi-img1-3.png"
                  alt="Testimonial Image 3"
                />
              </div>
              <div class="testi-info">
                <h3 class="mb-0">“Jonson Baris”</h3>
                <p class="mb-0">
                  Donec scelerisque dolor id nunc dictum, nterdum mauris
                  rhoncus. Aliquam at ultrices nunc. In sem fermentum at lorem
                  in, porta mauris.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Tesyimonials Wrap -->
    </div>
  </div>
</section>
