<!-- =============== Header section ======================== -->
<%- include('../partials/header.ejs') %>

<section>
  <div class="w-100 pt-100 pb-100 position-relative">
    <div class="container">
      <div class="contact-wrap position-relative w-100">
        <!-- <div class="contact-map w-100" id="contact-map"></div> -->
        <div class="contact-info-wrap text-center position-absolute">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4">
              <div class="contact-info-box w-100">
                <i class="thm-clr flaticon-headset"></i>
                <strong>Our Phone</strong>
                <span class="d-block">+2348060273153</span>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4">
              <div class="contact-info-box w-100">
                <i class="thm-clr flaticon-mail"></i>
                <strong>Our Mail Box</strong>
                <a class="d-block" href="mailto:info@elemetoideas.com" title=""
                  >info@elemetoideas.com</a
                >
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4">
              <div class="contact-info-box w-100">
                <i class="thm-clr flaticon-placeholder"></i>
                <strong>Our Location</strong>
                <p class="mb-0">
                  No.9 Woke St, Off Ogbogoro Road, Rumuolumeni, Obi Akpo, Port
                  Harcourt, Nigeria.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Contact Info Wrap -->
      </div>
      <!-- Contact Wrap -->
    </div>
  </div>
</section>
<section>
  <div class="w-100 pb-100 position-relative">
    <div class="container">
      <div class="sec-title v2 text-center w-100">
        <div class="sec-title-inner d-inline-block">
          <span class="thm-clr d-block">Contact Us</span>
        </div>
      </div>
      <form
        class="contact-form text-center w-100"
        action="#"
        method="post"
        id="email-form"
      >
        <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="form-group w-100">
              <div class="response w-100"></div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-6">
            <label class="d-block">Nick name :</label>
            <input class="fname" type="text" name="fname" />
          </div>
          <div class="col-md-6 col-sm-6 col-lg-6">
            <label class="d-block">Email Address :</label>
            <input class="email" type="email" name="email" />
          </div>
          <div class="col-md-12 col-sm-12 col-lg-12">
            <label class="d-block">Write a message :</label>
            <textarea class="contact_message" name="contact_message"></textarea>
            <button class="thm-btn thm-bg" id="submit" type="button">
              Submit Message<i class="flaticon-arrow-pointing-to-right"></i>
            </button>
          </div>
        </div>
      </form>
      <!-- Contact Form -->
    </div>
  </div>
</section>
