<section>
  <div class="w-100 position-relative">
    <div class="feat-wrap style2 position-relative w-100">
      <div class="feat-caro">
        <div class="feat-item text-center">
          <div
            class="feat-img position-absolute"
            style="background-image: url(assets/images/resources/slide1.jpg)"
          ></div>
          <div class="container">
            <div class="feat-cap">
              <h1 class="mb-0">
                Add a Beautiful Caption Here Please
                <strong class="d-inline-block thm-clr">- EleMeto Ideas</strong>
              </h1>
              <p class="mb-0">
                There are many variations of passages of Lorem Ipsum available,
                but the ma Mority have suffered alteration in some form.
              </p>
              <div class="feat-cap-innr">
                <a class="thm-btn thm-bg" href="about" title=""
                  >Learn More<i class="flaticon-arrow-pointing-to-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="feat-item text-center">
          <div
            class="feat-img position-absolute"
            style="background-image: url(assets/images/resources/slide2.jpg)"
          ></div>
          <div class="container">
            <div class="feat-cap">
              <h1 class="mb-0">
                Notice! Add Another Beatifull Caption Here Please
                <strong class="d-inline-block thm-clr">- EleMeto Ideas</strong>
              </h1>
              <p class="mb-0">
                There are many variations of passages of Lorem Ipsum available,
                but the ma Mority have suffered alteration in some form.
              </p>
              <div class="feat-cap-innr">
                <a class="thm-btn thm-bg" href="about" title=""
                  >Learn More<i class="flaticon-arrow-pointing-to-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Featured Area Wrap -->
  </div>
</section>

<section>
  <div class="w-100 pt-100 pb-100 position-relative">
    <div class="container">
      <div class="about-wrap style2 w-100">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-5 col-sm-12 col-lg-5 order-lg-1">
            <div class="about-image position-relative w-100">
              <img
                class="img-fluid w-100"
                src="assets/images/resources/about-image2.jpg"
                alt="About Image 2"
              />
            </div>
          </div>
          <div class="col-md-7 col-sm-12 col-lg-7">
            <div class="about-desc w-100">
              <h2 class="mb-0">
                We craft beautifully useful marketing and digital products that
                grow
                <strong class="thm-clr d-block">- Our EleMeto Ideas.</strong>
              </h2>
              <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim admini veniam, quis nostru.
              </p>
            </div>
            <div class="serv-wrap w-100">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6">
                  <div class="serv-box w-100">
                    <i class="thm-clr flaticon-car-parts"></i>
                    <div class="serv-box-inner">
                      <h3 class="mb-0">
                        <a href="#" title="">24/7 Support</a>
                      </h3>
                      <p class="mb-0">
                        Eiusmod tempor incididunt ut labore et dolore magna.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                  <div class="serv-box w-100">
                    <i class="thm-clr flaticon-helmet"></i>
                    <div class="serv-box-inner">
                      <h3 class="mb-0">
                        <a href="#" title=""
                          >Experience <br />
                          Team</a
                        >
                      </h3>
                      <p class="mb-0">
                        Eiusmod tempor incididunt ut labore et dolore magna.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                  <div class="serv-box w-100">
                    <i class="thm-clr flaticon-builder"></i>
                    <div class="serv-box-inner">
                      <h3 class="mb-0">
                        <a href="#" title=""
                          >Quality <br />
                          Assurance</a
                        >
                      </h3>
                      <p class="mb-0">
                        Eiusmod tempor incididunt ut labore et dolore magna.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                  <div class="serv-box w-100">
                    <i class="thm-clr flaticon-architect"></i>
                    <div class="serv-box-inner">
                      <h3 class="mb-0">
                        <a href="#" title=""
                          >Owner's <br />
                          Representation</a
                        >
                      </h3>
                      <p class="mb-0">
                        Eiusmod tempor incididunt ut labore et dolore magna.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Services Wrap -->
          </div>
        </div>
      </div>
      <!-- About Wrap -->
    </div>
  </div>
</section>
<section>
  <div class="w-100 thm-layer opc1 overflow-hidden position-relative">
    <div
      class="parallax-bg zoom-anim back-blend-multiply patern-bg thm-bg"
      style="background-image: url(assets/images/pattern-bg1.png)"
    ></div>
    <div class="container">
      <div class="facts-wrap shadow-none text-center w-100">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="fact-box w-100">
              <h2 class="mb-0"><span class="counter">18</span><sup>+</sup></h2>
              <h4 class="mb-0">Experience</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="fact-box w-100">
              <h2 class="mb-0"><span class="counter">502</span><sup>+</sup></h2>
              <h4 class="mb-0">Complete Projects</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="fact-box w-100">
              <h2 class="mb-0"><span class="counter">120</span><sup>+</sup></h2>
              <h4 class="mb-0">Works Employed</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="fact-box w-100">
              <h2 class="mb-0"><span class="counter">12</span><sup>+</sup></h2>
              <h4 class="mb-0">Running Projects</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- Facts Wrap -->
    </div>
  </div>
</section>
<section>
  <div class="w-100 pt-100 pb-70 position-relative">
    <div class="container">
      <div class="sec-title v2 text-center w-100">
        <div class="sec-title-inner d-inline-block">
          <span class="thm-clr d-block">Our Standard Services</span>
          <h2 class="mb-0">You can also add a small caption here</h2>
          <p class="mb-0">And maybe a little description here too bros</p>
        </div>
      </div>
      <div class="serv-wrap text-center w-100">
        <div class="row res-caro2">
          <div class="col-md-4 col-sm-6 col-lg-3">
            <div
              class="serv-box2 position-relative overflow-hidden w-100"
              style="
                background-image: url(assets/images/resources/serv-bg1.jpg);
              "
            >
              <i class="thm-clr flaticon-wheel-saw"></i>
              <div class="serv-box-inner">
                <h3 class="mb-0">
                  <a href="#" title=""
                    >Paint <br />
                    Production</a
                  >
                </h3>
                <p class="mb-0">
                  Nunc laoreet, mi sed fermentum fringilla, eros metus.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-lg-3">
            <div
              class="serv-box2 position-relative overflow-hidden w-100"
              style="
                background-image: url(assets/images/resources/serv-bg2.jpg);
              "
            >
              <i class="thm-clr flaticon-helmet"></i>
              <div class="serv-box-inner">
                <h3 class="mb-0">
                  <a href="#" title="">Painting</a>
                </h3>
                <p class="mb-0">
                  Nunc laoreet, mi sed fermentum fringilla, eros metus.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-lg-3">
            <div
              class="serv-box2 position-relative overflow-hidden w-100"
              style="
                background-image: url(assets/images/resources/serv-bg3.jpg);
              "
            >
              <i class="thm-clr flaticon-carpenter"></i>
              <div class="serv-box-inner">
                <h3 class="mb-0">
                  <a href="#" title=""
                    >Wallpapers <br />
                    Installation</a
                  >
                </h3>
                <p class="mb-0">
                  Nunc laoreet, mi sed fermentum fringilla, eros metus.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-lg-3">
            <div
              class="serv-box2 position-relative overflow-hidden w-100"
              style="
                background-image: url(assets/images/resources/serv-bg4.jpg);
              "
            >
              <i class="thm-clr flaticon-jigsaw"></i>
              <div class="serv-box-inner">
                <h3 class="mb-0">
                  <a href="#" title=""
                    >Marble <br />
                    Effect</a
                  >
                </h3>
                <p class="mb-0">
                  Nunc laoreet, mi sed fermentum fringilla, eros metus.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Services Wrap -->
    </div>
  </div>
</section>
<section>
  <div class="w-100 pt-100 paralx-70 blue-layer opc7 position-relative">
    <div
      class="fixed-bg"
      style="background-image: url(assets/images/parallax1.jpg)"
    ></div>
    <div class="container">
      <div class="sec-title w-100">
        <div class="sec-title-inner d-inline-block">
          <span class="d-block thm-clr">OUR WORKS</span>
          <h3 class="mb-0">Our Latest Projects</h3>
        </div>
      </div>
    </div>
    <div class="proj-wrap px-70 w-100">
      <div class="row proj-caro">
        <div class="col-md-4 col-sm-6 col-lg-3">
          <div class="proj-box position-relative w-100">
            <div class="proj-thumb overflow-hidden w-100">
              <a href="project-detail.html" title=""
                ><img
                  class="img-fluid w-100"
                  src="assets/images/resources/proj-img1-1.jpg"
                  alt="Project Image 1"
              /></a>
            </div>
            <div class="proj-info position-absolute">
              <i class="flaticon-helmet"></i>
              <h3 class="mb-0">
                <a href="project-detail.html" title=""
                  >Construction & <br />
                  Engineering</a
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3">
          <div class="proj-box position-relative w-100">
            <div class="proj-thumb overflow-hidden w-100">
              <a href="project-detail.html" title=""
                ><img
                  class="img-fluid w-100"
                  src="assets/images/resources/proj-img1-2.jpg"
                  alt="Project Image 2"
              /></a>
            </div>
            <div class="proj-info position-absolute">
              <i class="flaticon-electric-tower"></i>
              <h3 class="mb-0">
                <a href="project-detail.html" title=""
                  >Industry <br />
                  power grid</a
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3">
          <div class="proj-box position-relative w-100">
            <div class="proj-thumb overflow-hidden w-100">
              <a href="project-detail.html" title=""
                ><img
                  class="img-fluid w-100"
                  src="assets/images/resources/proj-img1-3.jpg"
                  alt="Project Image 3"
              /></a>
            </div>
            <div class="proj-info position-absolute">
              <i class="flaticon-file"></i>
              <h3 class="mb-0">
                <a href="project-detail.html" title=""
                  >Chemical <br />
                  Research Center</a
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3">
          <div class="proj-box position-relative w-100">
            <div class="proj-thumb overflow-hidden w-100">
              <a href="project-detail.html" title=""
                ><img
                  class="img-fluid w-100"
                  src="assets/images/resources/proj-img1-4.jpg"
                  alt="Project Image 4"
              /></a>
            </div>
            <div class="proj-info position-absolute">
              <i class="flaticon-engineer-2"></i>
              <h3 class="mb-0">
                <a href="project-detail.html" title=""
                  >Chemical <br />
                  Research Center</a
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3">
          <div class="proj-box position-relative w-100">
            <div class="proj-thumb overflow-hidden w-100">
              <a href="project-detail.html" title=""
                ><img
                  class="img-fluid w-100"
                  src="assets/images/resources/proj-img1-5.jpg"
                  alt="Project Image 5"
              /></a>
            </div>
            <div class="proj-info position-absolute">
              <i class="flaticon-worker"></i>
              <h3 class="mb-0">
                <a href="project-detail.html" title=""
                  >Industrial <br />
                  Construction</a
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3">
          <div class="proj-box position-relative w-100">
            <div class="proj-thumb overflow-hidden w-100">
              <a href="project-detail.html" title=""
                ><img
                  class="img-fluid w-100"
                  src="assets/images/resources/proj-img1-6.jpg"
                  alt="Project Image 6"
              /></a>
            </div>
            <div class="proj-info position-absolute">
              <i class="flaticon-lighthouse"></i>
              <h3 class="mb-0">
                <a href="project-detail.html" title=""
                  >Ship Building <br />
                  Industry</a
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3">
          <div class="proj-box position-relative w-100">
            <div class="proj-thumb overflow-hidden w-100">
              <a href="project-detail.html" title=""
                ><img
                  class="img-fluid w-100"
                  src="assets/images/resources/proj-img1-7.jpg"
                  alt="Project Image 7"
              /></a>
            </div>
            <div class="proj-info position-absolute">
              <i class="flaticon-worker-1"></i>
              <h3 class="mb-0">
                <a href="project-detail.html" title=""
                  >Chemical <br />
                  Research Center</a
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3">
          <div class="proj-box position-relative w-100">
            <div class="proj-thumb overflow-hidden w-100">
              <a href="project-detail.html" title=""
                ><img
                  class="img-fluid w-100"
                  src="assets/images/resources/proj-img1-8.jpg"
                  alt="Project Image 8"
              /></a>
            </div>
            <div class="proj-info position-absolute">
              <i class="flaticon-construction"></i>
              <h3 class="mb-0">
                <a href="project-detail.html" title=""
                  >Chemical <br />
                  Research Center</a
                >
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Projects Wrap -->
  </div>
</section>

<section>
  <div
    class="w-100 gray-layer pt-100 pb-100 opc1 overflow-hidden position-relative"
  >
    <div
      class="fixed-bg zoom-anim back-blend-screen patern-bg gray-bg"
      style="background-image: url(assets/images/pattern-bg2.jpg)"
    ></div>
    <div id="testimonials" class="container">
      <div class="testi-wrap position-relative w-100">
        <h2 class="mb-0">WHAT CLIENTS SAYS?</h2>
        <div class="testi-caro">
          <div class="testi-box-wrap">
            <div class="testi-box">
              <div class="testi-img">
                <img
                  class="img-fluid"
                  src="assets/images/resources/testi-img1-1.png"
                  alt="Testimonial Image 1"
                />
              </div>
              <div class="testi-info">
                <h3 class="mb-0">“Jonspond Mendela”</h3>
                <p class="mb-0">
                  Donec scelerisque dolor id nunc dictum, nterdum mauris
                  rhoncus. Aliquam at ultrices nunc. In sem fermentum at lorem
                  in, porta mauris.
                </p>
              </div>
            </div>
          </div>
          <div class="testi-box-wrap">
            <div class="testi-box">
              <div class="testi-img">
                <img
                  class="img-fluid"
                  src="assets/images/resources/testi-img1-2.png"
                  alt="Testimonial Image 2"
                />
              </div>
              <div class="testi-info">
                <h3 class="mb-0">“Baris Jonson”</h3>
                <p class="mb-0">
                  Donec scelerisque dolor id nunc dictum, nterdum mauris
                  rhoncus. Aliquam at ultrices nunc. In sem fermentum at lorem
                  in, porta mauris.
                </p>
              </div>
            </div>
          </div>
          <div class="testi-box-wrap">
            <div class="testi-box">
              <div class="testi-img">
                <img
                  class="img-fluid"
                  src="assets/images/resources/testi-img1-3.png"
                  alt="Testimonial Image 3"
                />
              </div>
              <div class="testi-info">
                <h3 class="mb-0">“Jonson Baris”</h3>
                <p class="mb-0">
                  Donec scelerisque dolor id nunc dictum, nterdum mauris
                  rhoncus. Aliquam at ultrices nunc. In sem fermentum at lorem
                  in, porta mauris.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Tesyimonials Wrap -->
    </div>
  </div>
</section>
