<!-- ============= Header section ============== -->
<%- include('../partials/header.ejs') %>

<section>
  <div class="w-100 pt-100 pb-70 position-relative">
    <div class="container">
      <div class="sec-title v2 text-center w-100">
        <div class="sec-title-inner d-inline-block">
          <span class="thm-clr d-block">Our Standard Services</span>
          <h2 class="mb-0">
            Al is no longer a futuristic notion, it's here right now
          </h2>
          <p class="mb-0">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
      <div class="serv-wrap text-center w-100">
        <div class="row res-caro">
          <div class="col-md-4 col-sm-6 col-lg-3">
            <div
              class="serv-box2 position-relative overflow-hidden w-100"
              style="
                background-image: url(assets/images/resources/serv-bg1.jpg);
              "
            >
              <i class="thm-clr flaticon-wheel-saw"></i>
              <div class="serv-box-inner">
                <h3 class="mb-0">
                  <a href="#" title=""
                    >Paint <br />
                    Production</a
                  >
                </h3>
                <p class="mb-0">
                  Nunc laoreet, mi sed fermentum fringilla, eros metus.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-lg-3">
            <div
              class="serv-box2 position-relative overflow-hidden w-100"
              style="
                background-image: url(assets/images/resources/serv-bg2.jpg);
              "
            >
              <i class="thm-clr flaticon-helmet"></i>
              <div class="serv-box-inner">
                <h3 class="mb-0">
                  <a href="#" title="">Painting</a>
                </h3>
                <p class="mb-0">
                  Nunc laoreet, mi sed fermentum fringilla, eros metus.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-lg-3">
            <div
              class="serv-box2 position-relative overflow-hidden w-100"
              style="
                background-image: url(assets/images/resources/serv-bg3.jpg);
              "
            >
              <i class="thm-clr flaticon-carpenter"></i>
              <div class="serv-box-inner">
                <h3 class="mb-0">
                  <a href="#" title=""
                    >Wallpapers <br />
                    Installation</a
                  >
                </h3>
                <p class="mb-0">
                  Nunc laoreet, mi sed fermentum fringilla, eros metus.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-lg-3">
            <div
              class="serv-box2 position-relative overflow-hidden w-100"
              style="
                background-image: url(assets/images/resources/serv-bg4.jpg);
              "
            >
              <i class="thm-clr flaticon-jigsaw"></i>
              <div class="serv-box-inner">
                <h3 class="mb-0">
                  <a href="#" title=""
                    >Marble <br />
                    Effect</a
                  >
                </h3>
                <p class="mb-0">
                  Nunc laoreet, mi sed fermentum fringilla, eros metus.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Services Wrap -->
    </div>
  </div>
</section>

<section>
  <div class="w-100 thm-layer opc1 overflow-hidden position-relative">
    <div
      class="fixed-bg zoom-anim back-blend-multiply patern-bg thm-bg"
      style="background-image: url(assets/images/pattern-bg1.png)"
    ></div>
    <div class="container">
      <div class="facts-wrap shadow-none text-center w-100">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="fact-box w-100">
              <h2 class="mb-0"><span class="counter">18</span><sup>+</sup></h2>
              <h4 class="mb-0">Experience</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="fact-box w-100">
              <h2 class="mb-0"><span class="counter">502</span><sup>+</sup></h2>
              <h4 class="mb-0">Complete Projects</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="fact-box w-100">
              <h2 class="mb-0"><span class="counter">120</span><sup>+</sup></h2>
              <h4 class="mb-0">Works Employed</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="fact-box w-100">
              <h2 class="mb-0"><span class="counter">12</span><sup>+</sup></h2>
              <h4 class="mb-0">Running Projects</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- Facts Wrap -->
    </div>
  </div>
</section>

<section>
  <div class="w-100 pt-155 pb-155 blue-layer opc85 position-relative">
    <div
      class="fixed-bg"
      style="background-image: url(assets/images/parallax3.jpg)"
    ></div>
    <div class="particles-js" id="prtcl2"></div>
    <div class="container">
      <div class="banner-wrap position-relative text-center w-100">
        <div class="banner-inner d-inline-block">
          <h2 class="mb-0">Bridging gap between Business and Technology</h2>
          <p class="mb-0">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since.
          </p>
        </div>
      </div>
      <!-- Banner Wrap -->
    </div>
  </div>
</section>
